@font-face {
  font-family: "MicrosoftYaHei";
  src: url("../../static/fonts/MicrosoftYaHei.ttf");
}
@font-face {
  font-family: "MyriadPro Regular";
  src: url("../../static/fonts/MyriadPro Regular.otf");
}
@font-face {
  font-family: "Arial BoldMT";
  src: url("../../static/fonts/arial-boldmt.otf");
}
